* {
    margin: 0;
    padding: 0;
}
:root {
    --color1: #2b8212;
    --color2: transparent;
    --color3: #fff;
    --color4: #111;
    --color5:#2b8212cc;
}
body {
    background-color: var(--color4);
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
}
.nav {
    display: flex;
    background-color: var(--color5);
    border-radius: 10px;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    position: sticky;
    top: 20px;
    backdrop-filter: blur(5px);
}
.menu-link {
    display: inline-block;
    text-decoration: none;
    color: var(--color3);
    font-size: 22px;
    padding: 15px 10px;
    transition: 0.2s;
}
.menu-link:hover {
    background-color: var(--color4);
    color: var(--color3);
    transition: 0.1s;
}
.nav-btn {
    font-size: 22px;
    background-color: var(--color2);
    border: none;
    color: var(--color3);
    margin: auto 10px;
    cursor: pointer;
    text-decoration: none;
}
.nav-btn:hover {
    text-decoration: underline;
}
.nav-toggler {
    display: none;
    font-size: 22px;
    color: var(--color3);
    cursor: pointer;
}
.nav-toggler:hover {
    text-decoration: underline;
}
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    body {
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav {
        padding: 0;
        flex-direction: column;
        position: static;
    }
    .nav-right {
        margin: 10px auto;
    }
    .menu-link, .nav-left{
        width: 100%;
        text-align: center;
    }
    .nav-left /*.nav-right*/ {
        display: none;
    }
    .nav-toggler {
        display: block;
    }
}

.banner {
    width: 100%;
    max-height: 50vh;
    image-orientation: initial;
    object-fit: cover;
    margin: 30px auto;
    border-radius: 10px;
}

.hackathons-title {
    color: var(--color1);
}
.hackathons-list {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    margin: 20px auto;
}
.hackathon-item {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 250px;
    color: var(--color1);
}
.hackathon-item-img {
    width: 100%;
    border-radius: 5px;
}
.hackathon-item-title {
    margin: 10px auto;
}
.hackathon-item-overview {
    font-size: 18px;
    line-height: 1.5;
}
.hackathon-item-readmore {
    color: var(--color3);
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    background-color: var(--color1);
    border: 2px solid var(--color1);
    border-radius: 5px;
    margin: 15px auto;
}
.hackathon-item-readmore:hover {
    transition: 0.1s;
    background-color: var(--color2);
    color: var(--color1);
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: var(--color1);
}
